<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body>
    <div class=" container">
        <iframe class=" w-full aspect-video sm:aspect-square lg:aspect-[4/3]"
            src="https://www.youtube.com/embed/W4P8gl4dnrg?list=RDCtRsuSt9sys"
            title="MỸ TÂM - HẸN ƯỚC TỪ HƯ VÔ (LIVE) | MY SOUL 1981" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>

</body>

</html>