<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body>
    <div class="container columns-2 pt-8 mx-auto ">
        <span
            class="box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white text-xl px-2 break-after-column">Hello
            <br> World</span>
        <span class="box-decoration-clone bg-gradient-to-r from-indigo-600 to-pink-500 text-white text-xl px-2">Hello
            <br> World</span>
    </div>
</body>

</html>