<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body>
    <div class="container">
        <div class="columns-3xs gap-8 hover:columns-4 lg:columns-5">
            <img class="w-full aspect-4/3" src="/img/landscape/photo4.jpg" alt="">
            <img class=" w-full aspect-square" src="/img/landscape/photo1.jpg" alt="">
            <img class="w-full aspect-video" src="/img/landscape/photo2.jpg" alt="">
            <img class="w-full aspect-square" src="/img/landscape/photo3.jpg" alt="">
            <img class="w-full aspect-square" src="/img/landscape/photo5.jpg" alt="">
        </div>


        <div class=" columns-2 mt-5">
            <p>Line 1</p>
            <p class=" break-before-column">Line 2</p>
            <p>Line 3</p>
            <p>Look. If you think this is...</p>

        </div>
    </div>
</body>

</html>